.container {
    background-color: var(--white);
    border-radius: 8px;
    padding: 4em 1em 3em;
    width: min(420px, 100%);
    box-shadow: 0px 10px 20px 4px var(--shadow-color);
}

.container .heading {
    font-weight: 700;
    font-size: 2.2em;
    line-height: 1em;
    text-align: center;
}

.container .sub_heading {
    text-align: center;
}

.container .group {
    align-items: stretch;
    position: relative;
    margin-bottom: auto;
}

.container .form {
    width: min(320px, 100%);
}

.form .password_eye {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 40px;
    width: 40px;
    cursor: pointer;
    color: var(--text-sec);
}

.container .group button[type="submit"] {
    margin: 16px auto -12px;
}

.container .link .submit_button {
    background-color: inherit;
    margin: 0 .4em;
}

.container .link .submit_button:hover {
    text-decoration: underline;
}