@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --purple-light: #925bc8;
    --purple-dark: #511690;

    --background-color-1: #fafafa;
    --background-color-2: #f5f5f5;

    --text: #11142d;
    --text-sec: #808191;

    --shadow-color: rgb(50 50 80 / 6%);

    --white: #ffffff;
    --grey: #E4E4E4;
    --green: #83c788;
    --yellow: #ffcf73;
    --red: #F45252;
    --blue: #549be6;
}

.inprogress {
    --color: #6dadf0;
    --background: #f1f8ff;
}

.notstarted {
    --color: #b6b9bd;
    --background: #faf8ff;
}

.completed {
    --color: #3cc66a;
    --background: #e8feef;
}

body {
    background-color: var(--background-color-2);
}

button {
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:active {
    color: var(--purple-dark);
}

form label {
    padding-bottom: 4px;
    font-weight: 500;
}

form :where(input, textarea, select) {
    padding: 8px 12px;
    outline: none;
    resize: none;
    border: 2px solid var(--grey);
    border-radius: 12px;
}

form :where(input, textarea, select):disabled {
    background-color: inherit;
    border: none;
    font-weight: 500;
    font-size: 1.01em;
    padding: 0;
}

form :where(input:not(:disabled), textarea, select):focus {
    border-color: var(--grey);
    border-bottom-color: var(--purple-light);
}

main {
    display: grid;
    grid-template: 80px 1fr / 320px 1fr;
    min-height: 100vh;
    position: relative;
    transition: all 200ms ease-in-out;
}

main.close {
    grid-template-columns: 80px auto;
}

main :is(nav, aside) {
    position: sticky;
    top: 0;
    background-color: var(--white);
}

article {
    padding: 1em;
}

.text_primary {
    color: var(--text);
}

.text_secondary {
    color: var(--text-sec);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.gap {
    gap: 1em;
}

.flex.gap2 {
    gap: .5em;
}

.flex.col {
    flex-direction: column;
}

.w_full {
    width: 100%;
}

.full_container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}

.button {
    border-radius: 50px;
    transition: transform 200ms ease-in-out;
    padding: 8px 24px;
    font-weight: 500;
    border: 1px solid var(--purple-light);
}

.button.primary {
    color: var(--white);
    background-color: var(--purple-light);
}

.button.secondary {
    color: var(--purple-light);
    background-color: var(--background-color-1);
}

.button.round {
    min-width: 40px;
    height: 40px;
    padding: 0;
}

.button:hover {
    transform: scale(1.02) translateY(-2px);
}

.button:active {
    transform: scale(0.98);
}


main .top_nav {
    grid-column-end: -1;
    justify-content: space-between;
    padding-inline: 1em;
    z-index: 9;
}

.top_nav .greeting {
    font-size: 1.3em;
    font-weight: 500;
}

.top_nav .user_profile .email {
    font-size: .8em;
    align-self: flex-start;
}

.top_nav .user_profile .name {
    margin: 4px 0 0;
    font-size: 1.1em;
    font-weight: 500;
    line-height: .8em;
    align-self: flex-start;
}

main .side_nav {
    box-sizing: border-box;
    grid-row: 1 / -1;
    height: 100vh;
    justify-content: space-between;
    padding-block: 2em;
    transition: width 200ms ease;
    z-index: 99;
}

.side_nav .menu_toggle {
    font-size: 1.2em;
    position: absolute;
    right: -20px;
    top: 60px;
}

.side_nav .logo img {
    height: 36px;
    display: block;
    margin-bottom: -16px;
}

.side_nav .logo {
    position: relative;
    font-size: 1.6em;
    text-align: center;
    font-weight: 600;
    margin-bottom: 1em;
}

.side_nav .logo p::before {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 20%;
    width: 60%;
    height: 6px;
    border-radius: 4px;
    background-color: var(--purple-light);
}

.side_nav .side_nav_links {
    justify-content: stretch;
}

.side_nav .link {
    border: none;
    align-self: stretch;
    justify-content: flex-start;
    font-weight: 400;
    color: var(--text-sec);
    font-size: 1em;
    background-color: inherit;
    margin-inline: 1.5em;
    transition: transform 200ms ease-in-out;
}

.top_nav .menu_toggle,
main.close p {
    display: none;
}

main.close .side_nav .link {
    padding: 14px;
    font-size: 20px;
    margin-inline: auto;
}

.side_nav .link:hover {
    color: var(--text);
}

.side_nav .link.active {
    color: var(--white);
    background-color: var(--purple-light);
}

.modal {
    backdrop-filter: blur(4px);
    display: grid;
    place-items: center;
    background-color: transparent;
}

.modal .modal_child {
    background-color: var(--background-color-1);
    padding: 1em;
    border-radius: 8px;
    width: min(420px, 100%);
}

.loading {
    height: 30px;
    width: 30px;
    border: 5px solid var(--grey);
    border-bottom-color: var(--purple-light);
    border-radius: 50%;
    margin: 1em auto;
    animation: rotate 600ms infinite linear;
}

.loader {
    font-size: 1.3em;
    font-weight: 500;
}

.loader span {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: solid transparent;
    border-right-color: var(--purple-dark);
    border-left-color: var(--purple-dark);
    animation: spin 1s ease infinite;
    transition: 0.2s ease;
}

@keyframes spin {
    0% {
        transform: rotate(0);
        border-width: 4px;
    }

    100% {
        transform: rotate(360deg);
        border-width: 16px;
    }
}

.notifications {
    position: fixed;
    top: 60px;
    right: 40px;
    z-index: 9999;
}

.notifications .toast {
    position: relative;
    padding: 10px;
    color: var(--text);
    border-radius: 8px;
    background-color: var(--background-color-1);
    --color: var(--green);
    gap: 1.2em;
    max-width: 340px;
}

.toast .type {
    font-size: 1.2em;
    line-height: .9em;
    font-weight: 400;
    text-transform: capitalize;
}

.toast span {
    color: var(--color);
    font-size: 1.6em;
    cursor: pointer;
}

.toast.error {
    --color: var(--red);
}

.toast.warning {
    --color: var(--yellow);
}

.toast.info {
    --color: var(--blue);
}

.toast::before {
    content: '';
    position: absolute;
    height: 4px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--color);
    animation: toast 3s ease forwards;
}

.response {
    z-index: 9999;
    align-items: flex-start;
    backdrop-filter: blur(2px);
}

.response>span {
    background-color: var(--background-color-2);
    padding: 0.5em 1.5em;
    border-radius: 48px;
    font-weight: 500;
    border-bottom: 2px solid var(--purple-light);
    margin-top: 12px;
}

@keyframes toast {
    100% {
        width: 0;
    }
}


@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width:980px) {

    main,
    main.close {
        grid-template-columns: 1fr;
    }

    main .side_nav {
        position: fixed;
        left: 0;
        top: 0;
        width: 360px;
        grid-row: none;
    }

    main.close .side_nav {
        left: -100%;
    }

    main.close .top_nav .menu_toggle {
        padding-top: 4px;
        font-size: 1.2em;
        display: block;
    }

    .top_nav .greeting {
        display: none;
    }
}