.filters {
    display: flex;
    gap: 1em;
    padding-bottom: 1em;
}

.filters.wrap {
    flex-wrap: wrap;
}

.filters input {
    font-size: 1.01em;
    border-radius: 40px;
    width: min(360px, 100%);
    padding-inline: 18px;
}

.filters button {
    text-wrap: nowrap;
    font-size: 1.01em;
}

.container {
    display: grid;
    grid-template: auto / repeat(auto-fit, minmax(320px, 1fr));
    background-color: var(--background-color-2);
    gap: 1em;
    min-height: 75vh;
}

.container .wrapper {
    justify-content: flex-start;
    background-color: var(--white);
    border-radius: 0 0 12px 12px;
    border-radius: 12px;
}

.wrapper .header {
    border-radius: 12px 12px 0 0;
    justify-content: space-between;
    padding: 12px 16px;
    align-self: stretch;
    color: var(--white);
    font-weight: 500;
    background-color: var(--color);
}

.wrapper .tasks_container {
    padding: 0.5em;
    align-items: stretch;
    align-self: stretch;
}

.tasks_container .task {
    border-radius: 12px;
    padding: 12px;
    cursor: move;
    gap: 4px;
    align-items: stretch;
    transition: transform 200ms ease;
    max-width: 420px;
    background-color: var(--background);
    border-bottom: 2px solid var(--color);
}

.task .group {
    justify-content: space-between;
    align-self: stretch;
}

.task .group button {
    padding: 6px 12px;
    background-color: var(--color);
    border-color: var(--color);
}

.tasks_container .loading {
    border-bottom-color: var(--color);
}

.task_title {
    text-transform: capitalize;
    font-weight: 500;
}

.task_description {
    max-height: 100px;
}

.tasks_container .task:hover {
    box-shadow: 0 0 14px 2px var(--shadow-color);
    transform: scale(1.01);
    border-radius: 6px;
}

@media screen and (max-width:540px) {
    .filters button.round {
        padding: 14px;
    }

    .filters button span {
        display: none;
    }
}