.filters {
    padding: 0.5em 0 1em;
    justify-content: flex-start;
}

.filters input {
    font-size: 1.01em;
    border-radius: 40px;
    width: min(360px, 100%);
    padding-inline: 18px;
}

.filters button,
.filters select {
    text-wrap: nowrap;
    font-size: 1.01em;
    appearance: none;
}

.container {
    display: grid;
    grid-template: auto / repeat(auto-fit, minmax(320px, 1fr));
    gap: 1em;
    min-height: 74vh;
}

.container .wrapper {
    justify-content: flex-start;
    background-color: var(--white);
    border-radius: 16px;
}

.wrapper .header {
    border-radius: 12px 12px 0 0;
    justify-content: space-between;
    padding: 12px 24px 6px;
    align-self: stretch;
    color: var(--color);
    background-color: var(--white);
}

.wrapper .tasks_container {
    padding: 0.5em 1em;
    align-items: stretch;
    align-self: stretch;
}

.tasks_container .task {
    border-radius: 12px;
    padding: 1em;
    cursor: move;
    align-items: flex-start;
    transition: transform 200ms ease-in-out;
    background-color: var(--background);
}

.task .group {
    margin-top: .4em;
    justify-content: flex-start;
    align-self: stretch;
}

.task .group .avatar {
    width: 32px;
}

.task .group .avatar:not(:first-child) {
    margin-left: -14px;
}

.task .group .avatar:last-child {
    aspect-ratio: 1;
    border-radius: 50%;
    color: var(--color);
    font-size: .9em;
    background-color: var(--white);
}

.task .group button {
    padding: 6px 12px;
    background-color: var(--color);
    border-color: var(--color);
}

.tasks_container .loading {
    border-bottom-color: var(--color);
}

.task_title {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.1em;
}

.task_description {
    line-height: 1.5;
    text-wrap: wrap;
}

.tasks_container .task:hover {
    box-shadow: 0 0 24px 2px var(--shadow-color);
    transform: scale(1.01);
}

@media screen and (max-width:540px) {
    .filters .create_btn {
        padding: 13px;
    }

    .filters button span {
        display: none;
    }
}