.container {
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(6, 1fr);
    gap: 1em;
    padding: 1em;
}

.container .wrapper {
    grid-column: span 4;
    width: unset;
    padding: 2em;
    background-color: var(--white);
    min-width: 240px;
}

.container .comments {
    grid-column: span 2;
    padding: 1em;
    justify-content: space-between;
}

.comments .messages {
    margin-bottom: auto;
    align-items: stretch;
    align-self: stretch;
    justify-content: flex-start;
    overflow: auto;
    max-height: 65vh;
    padding: 0 0 1em;
}

.messages .message {
    padding: 6px 12px;
    font-size: 0.9em;
}

.messages .message:not(:last-of-type) {
    border-bottom: 1px solid var(--grey);
}

.message .comment_date {
    font-size: 0.8em;
}

@media screen and (max-width:920px) {
    .container .wrapper {
        grid-column: span 6;
    }
}