.container {
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(6, 1fr);
    gap: 1em;
    padding: 1em;
}

.container .wrapper {
    grid-column: span 4;
    width: unset;
    padding: 2em;
    background-color: var(--white);
}

.container .comments {
    grid-column: span 2;
}

@media screen and (max-width:1400px) {
    .container .wrapper {
        grid-column: span 6;
    }
}