.container {
    min-height: 74vh;
    background-color: var(--white);
    border-radius: 12px;
    padding: 0 1em;
}

.wrapper {
    padding: 1em 0;
    justify-content: flex-start;
}

.wrapper .user {
    background-color: var(--background-color);
    padding: 1em;
    height: fit-content;
    border-radius: 12px;
    transition: transform 200ms ease-in-out;
    min-width: min(330px, calc(100% - 2em));
    justify-content: space-between;
}

.user .user_title {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.05em;
}

.wrapper .user:hover {
    box-shadow: 0 0 12px 2px var(--shadow-color);
    transform: scale(1.01);
}

.wrapper .user button {
    margin: auto 0;
    padding: 4px 16px;
}