.container {
    min-height: 75vh;
    background-color: var(--white);
    border-radius: 12px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em 2em;
}

.wrapper .user {
    background-color: var(--background-color-1);
    padding: 1em;
    height: fit-content;
    border-radius: 12px;
    transition: transform 200ms ease;
    min-width: 240px;
    justify-content: space-between;
}

.wrapper .user:hover {
    border-bottom: 2px solid var(--purple-light);
    box-shadow: 0 0 14px 2px var(--shadow-color);
    transform: scale(1.01);
    border-radius: 6px;
}

.wrapper .user button {
    margin-top: 1em;
    padding: 4px 16px;
}